.watson-message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
  

}
.watson-message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
  background-color: #2EC4B6;
  color: #FDFFFC;
  padding: 10px;
  padding-right: 50px;
  box-shadow: 4px 8px #888888;
}
