.watson-message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row-reverse;
  

}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}
